* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

:root {
  --margin: 30px;
  --border-radius: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

img {
  user-select: none;
  pointer-events: none;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#name {
  position: absolute;
  top: var(--margin);
  left: var(--margin);
  text-align: start;
}

#cloud-img {
  max-width: 80%;
  max-height: 30%;
  margin: auto;
  user-select: none;
}

.earth-img {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0px;
  left: 50vw;
}

h1,
p {
  color: #e9e2d2;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 400) {
  h1 {
    font-size: 20px;
  }
}
