@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --margin: 30px;
  --border-radius: 10px;
}

header {
  flex-direction: column;
  display: flex;
  align-items: center;
}

body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: var(--margin);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  color: white;
  display: inline;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  list-style-type: none;
  border-radius: var(--border-radius);
  padding: 3px 10px;
  margin-right: 10px;
  border: 1px solid rgb(72, 72, 72);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}

li:hover {
  background: rgb(72, 72, 72);
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
  ul {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  li {
    margin-bottom: 10px;
  }
}
